<div class="container">
  <div class="row">
      <% @contests.each do |contest| %>
          <div class="col-md-4 d-flex">
              <div class="card mt-4" style="width: 100%;">
                  <div class="card-body flex-fill">
                      <%= link_to contest.name, contest_path(contest) %>
                      <%= contest.description %>
                  </div>
                  <div class="card-footer">     
                      <div>
                          <%= link_to "Edit Item", edit_contest_path(contest), class: 'btn btn-outline-warning' %>
                      </div>
                  </div>
                    
              </div>
          </div>
      <% end %>
  </div>
</div>